@charset "UTF-8";
/* Body */


.goals-title{
		margin-top: 120px;
}

.goals-title img{
	display: flex;
	justify-content: center;
  margin: 0 auto 0 auto;
}

.goals-fin{
	display:flex;
}

.goals-fin img{
	display: none;
	justify-content: center;
  margin: 120px auto 72px auto;
}

.answer{
	height:320px;
	width: 60%;
	margin-top: 120px;
	margin-left: 20%;
   display:flex;
   flex-flow: row wrap;
   justify-content:center;
   align-content:center;
}

.card{
	border-radius: 10px;
	background-color: #dfe6f3;
	float: left;
  /* width: 25%;*/
  padding: 0 24px;
	margin: 12px;
}
.future-position {
	display: block;
	margin-top: 120px;
}
